#info-section {
    color: #cfcfcf;
    margin: pex-to-rem(82px);
    article {
        display: flex;
        align-items: center;
        margin: pex-to-rem(32px);
        figure {
            width: 48%;
            height: pex-to-rem(222px);
            background-size: cover;
            background-position: center;
            flex-shrink: 0;
            transition: all .3s;
        }
        &:hover {
            transform: scale(1.04);
        }
    }
    div {
        margin-left: pex-to-rem(82px);
        h2 {
            font-size: pex-to-rem(30px);
            margin-bottom: pex-to-rem(8px);
        }
        p {
            font-size: pex-to-rem(16px);
            width: 70%;
            line-height: 200%;
        }
    }
}